{% extends 'base2.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block content %}
<style>
    .container{
        position: relative;
        left: 20%;

    }
</style>

    <div class="container">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">

                {{ form (form) }}
            </div>
        </section>
    </section>
    </div>
{% endblock %}